.actorsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}
.photo {
  width: 250px;
  height: 270px;
}
.actorCard {
  width: 250px;
  min-height: 350px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  border: 1px solid grey;
}
